<mat-card>
  <mat-card-header>
    <mat-card-title>Add new quiz {{ this.form.title }}</mat-card-title>
  </mat-card-header>
  <div class="form-group">
    <mat-form-field>
      <input matInput placeholder="Quiz title" [(ngModel)]="this.form.title" />
    </mat-form-field>
    <br />
    <mat-form-field>
      <textarea
        matInput
        placeholder="Description"
        [(ngModel)]="this.form.description"
      ></textarea>
    </mat-form-field>
    <br />
    <button
      mat-raised-button
      color="accent"
      type="button"
      md-button
      (click)="this.addQuestion()"
    >
      Add question
      <mat-icon matSuffix>add</mat-icon>
    </button>
    <br />
    <div *ngFor="let question of this.form.questions">
      <mat-form-field>
        <input
          matInput
          placeholder="Question text"
          [(ngModel)]="question.question_text"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-select [(value)]="question.question_type">
          <mat-option value="single_choice">Single select</mat-option>
          <mat-option value="multiple_choice">Multi select</mat-option>
          <mat-option value="freetext">Free text</mat-option>
        </mat-select>
      </mat-form-field>
      <button
        mat-raised-button
        color="accent"
        type="button"
        md-button
        (click)="this.deleteQuestion(question)"
      >
        <mat-icon matSuffix>delete</mat-icon>
      </button>
      <br />
      <div *ngIf="question.question_type != 'freetext'">
        <button
          mat-raised-button
          color="accent"
          type="button"
          md-button
          (click)="this.addAnswer(question)"
        >
          Add answer
          <mat-icon matSuffix>add</mat-icon>
        </button>
      </div>
      <div *ngFor="let answer of question.answers">
        <div *ngIf="question.question_type != 'freetext'">
          <mat-form-field>
            <input
              matInput
              placeholder="Answer text"
              [(ngModel)]="answer.choice_text"
            />
          </mat-form-field>
          <mat-checkbox [(ngModel)]="answer.correct"></mat-checkbox>
          <button
            mat-raised-button
            color="accent"
            type="button"
            md-button
            (click)="this.deleteAnswer(answer, question)"
          >
            <mat-icon matSuffix>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <br />
    <button
      mat-raised-button
      color="primary"
      type="button"
      md-button
      [disabled]="this.isDisabled()"
      (click)="this.onSubmit()"
    >
      Upload quiz
    </button>
    <!-- <button
      mat-raised-button
      color="primary"
      type="button"
      md-button
      (click)="this.onSubmit(true)"
    >
      Save and continue
    </button> -->
    <!-- <input hidden type="file" id="quiz-file" (change)="onFileChange($event)" /> -->
  </div>
  <br />
</mat-card>
