<mat-card>
  <mat-card-header>
    <mat-card-title>Add new quiz {{ this.form.title }}</mat-card-title>
  </mat-card-header>
  <div class="form-group">
    <mat-form-field>
      <input matInput placeholder="Quiz title" [(ngModel)]="this.form.title" />
    </mat-form-field>
    <br />
    <button
      mat-raised-button
      color="accent"
      type="button"
      md-button
      (click)="this.addQuestion()"
    >
      Add question
      <mat-icon matSuffix>add</mat-icon>
    </button>
    <br />
    <div *ngFor="let question of this.form.questions">
      <mat-form-field>
        <input
          matInput
          placeholder="Question text"
          [(ngModel)]="question.question"
        />
      </mat-form-field>
      <!-- <mat-form-field>
        <select matNativeControl [(ngModel)]="question.question_type">
          <option value="single_choice">Single select</option>
          <option value="multiple_choice">Multi select</option>
          <option value="freetext">Free text</option>
        </select>
      </mat-form-field> -->
      <mat-form-field>
          <mat-select [(value)]="question.question_type">
            <mat-option value="single_choice">Single select</mat-option>
            <mat-option value="multiple_choice">Multi select</mat-option>
            <mat-option value="freetext">Free text</mat-option>
          </mat-select>
        </mat-form-field>
      <br />
      <div >
        <button
          mat-raised-button
          color="accent"
          type="button"
          md-button
          (click)="this.addAnswer(question)"
        >
          Add answer
          <mat-icon matSuffix>add</mat-icon>
        </button>
      </div>
      <div *ngFor="let answer of question.answers">
        <div >
          <mat-form-field>
            <input
              matInput
              placeholder="Answer text"
              [(ngModel)]="answer.text"
            />
          </mat-form-field>
        </div>
      </div>
    </div>
    <br />
    <button
      mat-raised-button
      color="primary"
      type="button"
      md-button
      (click)="fileInput.click()"
    >
      Upload quiz
    </button>
    <button
      mat-raised-button
      color="primary"
      type="button"
      md-button
      (click)="fileInput.click()"
    >
      Save and continue
    </button>
    <!-- <input hidden type="file" id="quiz-file" (change)="onFileChange($event)" /> -->
  </div>
  <br />
</mat-card>
