/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
body {
  background-color: rgb(48, 48, 48);
}

.spa-font {
  color: rgb(193, 193, 193);
}

.spa-card {
    margin: 40px;
}
