<a mat-raised-button color="primary" class="import-quiz-button nav-element" *ngIf="isTeacher" mat-button routerLink="/import" routerLinkActive="mat-elevation-z6">
  Import
  <mat-icon matSuffix>backup</mat-icon>
</a>
<mat-card class="quiz-card" *ngFor="let quiz of QUIZES">
  <mat-card-header>
    <mat-card-title>{{quiz['title']}}</mat-card-title>
  </mat-card-header>
  <mat-card-subtitle>
    {{quiz['question_count'] || quiz['published_question_count']}} question(s)
  </mat-card-subtitle>
  <mat-card-content>
    <p>
      {{quiz['description']}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="isTeacher && !quiz['is_public']" mat-raised-button color="primary" (click)="toggleQuiz(quiz)">
      PUBLISH
      <mat-icon matSuffix>flight_takeoff</mat-icon>
    </button>
    <button *ngIf="isTeacher && quiz['is_public']" mat-raised-button color="primary" (click)="toggleQuiz(quiz)">
      UNPUBLISH
      <mat-icon matSuffix>flight_land</mat-icon>
    </button>
    <a *ngIf="isTeacher" mat-raised-button color="primary" href="{{'/admin/quizes/quiz/' + quiz['id'] + '/change/'}}" target="_blank">
      EDIT
      <mat-icon matSuffix>mode_edit</mat-icon>
    </a>
    <button *ngIf="isTeacher" mat-raised-button color="warn" (click)="deleteQuiz(quiz)">
      DELETE
      <mat-icon matSuffix>delete_forever</mat-icon>
    </button>
    <button *ngIf="!isTeacher" mat-raised-button color="warn" (click)="startQuiz(quiz)">
      START QUIZ
      <mat-icon matSuffix>flight_takeoff</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
<mat-card class="quiz-card" *ngIf="count == 0">
  <mat-card-content>
    <mat-icon matSuffix>mood_bad</mat-icon>
    No quizes to see!
  </mat-card-content>
</mat-card>
<mat-progress-spinner *ngIf="loading" color="primary" class="centered" mode="indeterminate">
  </mat-progress-spinner>
